<!--Topic-1_Heading-->
<div>
    <h2>World in 2100 AD</h2>
    <hr>
</div>
<div class="home-container">
<!--Topic-1_Image-->
    <figure class="home">
        <img src="./img/future.jpg" alt="Future World" />
        <figcaption>Future</figcaption>
    </figure>
<!--Topic-1_Text-->
    <div class="topics">
        <h3>Twenty top predictions for life 100 years from now.</h3>
        <li>1. Oceans will be extensively farmed and not just for fish.</li>
        <li>2. We will have the ability to communicate through thought transmission.</li>
        <li>3. Thanks to DNA and robotic engineering, we will have created incredibly intelligent humans who are immortal.</li>
        <li>4. We will be able to control the weather</li>
        <li>5. Antarctica will be "open for business"</li>
        <li>6. One single worldwide currency.</li>
        <li>7. We will all be wired to computers to make our brains work faster.</li>
        <li>8. Nanorobots will flow around our body fixing cells, and will be able to record our memories.</li>
        <li>9. We will have sussed nuclear fusion.</li>
        <li>10. There will only be three languages in the world - English, Spanish and Mandarin.</li>
        <li>11. Eighty per cent of the world will have gay marriage.</li>
        <li>12. California will lead the break-up of the US.</li>
        <li>13. Space elevators will make space travel cheap and easy.</li>
        <li>14. Women will be routinely impregnated by artificial insemination rather than by a man.</li>
        <li>15. There will be museums for almost every aspect of nature, as so much of the world's natural habitat will have been destroyed.</li>
        <li>16. Deserts will become tropical forests.</li>
        <li>17. Marriage will be replaced by an annual contract.</li>
        <li>18. Sovereign nation states will cease to exist and there will be one world government.</li>
        <li>19. War by the West will be fought totally by remote control.</li>
        <li>20. Britain will have had a revolution.</li>
        <li>Reference: <a href="https://www.bbc.com/news/magazine-16536598">BBC</a></li>
    </div>
</div>

<hr>
<!--Topic-2_Heading-->
<div>
    <h2>Value of Money</h2>
</div>
<div class="home-container">
<!--Topic-2_Image-->
    <figure class="home">
        <img src="./img/money.jpg" alt="Money" />
        <figcaption>Money</figcaption>
    </figure>
<!--Topic-2_Text-->
    <div class="topics">
        <p>The value of money is determined by the demand for it, just like the value of goods and services. There are three ways to measure the value of the dollar. The first is how much the dollar will buy in foreign currencies. That’s what the exchange rate measures. Forex traders on the foreign exchange market determine exchange rates. They take into account supply and demand, and then factor in their expectations for the future.</p>
        <p>For this reason, the value of money fluctuates throughout the trading day. The second method is the value of Treasury notes. They can be converted easily into dollars through the secondary market for Treasuries. When the demand for Treasuries is high, the value of the U.S. dollar rises.</p>
        <p>The third way is through foreign exchange reserves. That is the amount of dollars held by foreign governments. The more they hold, the lower the supply. That makes U.S. money more valuable. If foreign governments were to sell all their dollar and Treasury holdings, the dollar would collapse. U.S. money would be worth a lot less.</p>
        <p>No matter how it's measured, the dollar's value declined from 2000 to 2011. That was due to a relatively low fed funds rate, a high federal debt, and a slow-growth economy. Since 2011, the U.S. dollar has risen in value despite these factors. Why? Most of the economies in the world had even slower growth. That made traders want to invest in the dollar as a safe haven. As a result, the dollar strengthened against the euro. It made travel to Europe very affordable.</p>
        <p>Reference: <a href="https://www.thebalance.com/value-of-money-3306108">The Balance</a></p>
    </div>
</div>

<hr>
<!--Topic-3_Heading-->
<div>
    <h2>Genetically Modified Organic Food</h2>
</div>
<div class="home-container">
<!--Topic-3_Image-->
    <figure class="home">
        <img src="./img/food.jpg" />
        <figcaption>GMO Food</figcaption>
    </figure>
<!--Topic-3_Text-->
    <div class="topics">
        <p>Genetically modified foods or GM foods, also known as genetically engineered foods, bioengineered foods, genetically modified organisms, or GMOs, are foods produced from organisms that have had changes introduced into their DNA using the methods of genetic engineering. Genetic engineering techniques allow for the introduction of new traits as well as greater control over traits than previous methods such as selective breeding and mutation breeding.</p>
        <p>Commercial sale of genetically modified foods began in 1994, when Calgene first marketed its unsuccessful Flavr Savr delayed-ripening tomato. Most food modifications have primarily focused on cash crops in high demand by farmers such as soybean, corn, canola, and cotton. Genetically modified crops have been engineered for resistance to pathogens and herbicides and for better nutrient profiles. GM livestock have been developed, although as of November 2013 none were on the market.</p>
        <p>Reference: <a href="https://en.wikipedia.org/wiki/Genetically_modified_food">Wikipedia</a></p>
    </div>
</div>
