<!--Portfolio Heading-->
<div>
    <h2>Portfolio</h2>
    <hr>
</div>
<!--Portfolio Content-->
<div class="portfolio-container">
    <div>
        <figure>
            <img src="./img/5ZigenRacePlus.jpg" alt="wheel" />
            <figcaption>5Zigen Race Plus</figcaption>
        </figure>
    </div>
    <div>
        <figure>
            <img src="./img/bmw_Z4_1.jpg" alt="BMW Z4" />
            <figcaption>BMW Z4</figcaption>
        </figure>
    </div>
    <div>
        <figure>
            <img src="./img/interior_scene.jpg" alt="Interior Scene" />
            <figcaption>Interior Scene</figcaption>
        </figure>
    </div>
    <div>
        <figure>
            <img src="./img/merc-zetros.jpg" alt="Mercedes Benz Zetros" />
            <figcaption>Mercedes-Benz Zetros 6x6</figcaption>
        </figure>
    </div>
    <div>
        <figure>
            <img src="./img/VW_Beetle1300_B.jpg" alt="VW Beetle 1300" />
            <figcaption>VW Beetle 1300</figcaption>
        </figure>
    </div>
    <div>
        <figure>
            <img src="./img/VW_Beetle1300_T.jpg" alt="VW Beetle 1300" />
            <figcaption>VW Beetle 1300</figcaption>
        </figure>
    </div>
</div>
